li, a {
	text-decoration: none;
	display: inline;
	color: white;
	padding: 8px 16px;
}
nav {
	position: fixed;
	background-color: green;
	margin-left: -8px;
	padding-right: 904.5px;
	margin-right: -904.5px;
}
title {
	font-family: algerian;
}
body {
	background-image: url("chrisland.jpeg");
}
div {
	font-family: verdana
}
h2 {
	font-size: 30px;
}